
:root{
    --mainFont:'Playfair Display', serif;
    --logoColor--:#13659b;
    --mainColor--:#1e202b;
    --secondaruColor--:#906440;
    --sugColor1--:#24353f;
     --sugColor2--:white;
    --sugColor3--:rgb(50 53 68);
}
body{
    font-family: var(--mainFont);
    background-color: var(--sugColor2--);
    color: var(--mainColor--);
    overflow: hidden;
}
a{
    font-family: var(--mainFont);
}
nav{
  background-color: rgba(0,0,0,0.5);
  transition: all 0.5s;
}
nav .navbar-brand img{
    width: 3rem;
    height: 2.5rem;
}
nav .navbar-brand{
    color: var(--sugColor2--) !important;
}
nav .nav-link {
    font-weight: bold;
    margin-left: 1rem;
    color: var(--sugColor2--) !important;
}
nav .active{
    border-bottom: 2px solid var(--logoColor--);
    color:var(--logoColor--) !important;
}
.navbarPargraph{
    font-size: 16px;
}
header{
    background-image: linear-gradient(rgba(30,32,43,0.3),rgba(30,32,43,0.3)) ,url(../img/background/beautiful-view-construction-site-city-during-sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header .container .row .col-md-6 .card{
   padding: 0%;
   border: none;
   background-color: var(--sugColor2--);
   color: var(--mainColor--);
   transition: all 0.5s 0.5s;
}
header .container .row .col-md-6 .card:hover{
   background-color:var(--logoColor--);
   color: var(--sugColor2--);
 }
 header .container .row .col-md-6 .card:hover img{
    transform: scale(1.2);
  }
  header .container .row .col-md-6 .card img{
   transition: all 0.5s;
    }
  @media screen and (max-width:993px){
    header{
        height:auto;
        overflow: auto;
    }
    
  }
  .sectionHeader h2{
    color: var(--mainColor--);
    border-bottom: 2px solid var(--mainColor--);
    font-style: italic;
    font-size: 3rem;
    font-weight: bolder;

  }

  .list-group .active{
    background-color: var(--sugColor2--) !important;
    border-color:var(--mainColor--) !important;
  }
  #aboutUs .list-group-item{
    background-color: var(--sugColor2--) !important;
    color: var(--mainColor--) !important;
  }
  #aboutUs .list-group-item.active{
    background-color: var(--logoColor--) !important;
    color: var(--sugColor2--) !important;
    border: none;
  }
  #aboutUs .list-group-item{
  transition: all 0.5s;
  }
  #aboutUs .list-group-item:hover{
    background-color: var(--logoColor--) !important;
    color: var(--sugColor2--) !important;
  }

  #aboutUs .tab-pane a{
    color: var(--logoColor--);
    text-decoration: none;
    transition: all 1s;
  }
  #aboutUs .tab-pane a:hover{
    background-color: var(--logoColor--);
    color: var(--sugColor2--);
    border-radius: 10px;
    transform: translateX(1%);
    border: none;
  }
  #contactUs{
    background-color: #13659B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='68' stroke-opacity='0.05' %3E%3Ccircle fill='%2313659B' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231b5f94' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2321588e' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23255287' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23284c80' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232b4679' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232c4072' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232d3a6b' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%232e3464' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%232e2f5c' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232d2955' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%232d234e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232b1e47' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232a183f' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23281338' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23250e31' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2323082b' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .icons{
    width: 4rem;
    height: 4rem;
    background-color: rgba(225, 225, 225, 0.5);
    color: white;
    transition: all 0.5s;
  }
  #contactUs .sectionHeader h2{
    color: white;
    border-color: white;
  }
  #contactUs .col-lg-3:hover .icons{
    background-color: var(--sugColor2--);
    color: var(--logoColor--);
  }

footer a i {
  color: var(--logoColor--);
}
#choicesBtn{
  display: none;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
#spinner{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999999;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}























.headerSlider h1,h2
{
    color: var(--mainColor--);
}
